body {
  background-color: #f7f7fa;
}

/* ICONS */
.edit,
.delete {
  font-size: 1.25rem;
}

.edit {
  color: rgb(106, 106, 252);
}

.delete {
  color: rgb(206, 69, 69);
}

.edit:hover,
.delete:hover {
  color: #000;
}

.landing-image {
  background-image: url('../images/homepage.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.form-login,
.form-signup {
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(243, 243, 243);
}

.form-signup {
  margin: auto 0;
}

.footer {
  height: 60px;
  background-color: rgb(243, 243, 243);
  width: 100%;
}

.row-login-form,
.row-signup-form {
  height: 80vh;
}

.header-center-align {
  text-align: center;
}

.profile-box,
.workout-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
}

.profile-title {
  text-align: center;
  border-bottom: 1px #d1d1d1 solid;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(70%, -50%);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-activity {
  font-size: 0.85rem;
  font-weight: 100;
}

.latest-activity-title {
  font-weight: 800;
}

/* WORKOUT BOX */
.workout-date {
  color: gray;
  font-size: 0.75rem;
}

.workout-title,
.profile-title {
  font-size: 2rem;
  font-weight: bold;
}

.workout-description {
  font-size: 0.85rem;
}
.workout-image {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.add-workout-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid coral;
  color: coral;
  font-size: 1.5rem;
}

.workout-stat-title {
  font-size: 0.85rem;
  color: #000;
  font-weight: 100;
}

.workout-stats {
  margin: 0 auto;
}
