/* ----- GENERAL STYLING ----- */

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  background-color: #f7f7fa;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.error {
  color: #ff0000;
}

.btn {
  font-weight: 300;
}

.btn-main {
  background-color: #ff7f50;
  color: #fff;
}

.btn-main:hover {
  background-color: rgb(250, 77, 15);
  color: #fff;
}

.btn-cancel {
  color: #646464;
}

.btn-add-first-workout {
  margin: 0 auto;
  display: block;
  max-width: 150px;
}

.form-styling-base {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
  margin: 0 auto;
}

.form-group {
  padding: 0;
}

.form-control {
  font-weight: 300;
}

.custom-select {
  font-weight: 300;
}

#profile_image {
  border: none;
  padding-left: 0;
}

/* ----- ICONS ----- */
.edit,
.delete {
  font-size: 1.25rem;
}

.edit {
  color: rgb(106, 106, 252);
}

.delete {
  color: rgb(206, 69, 69);
}

.edit:hover,
.delete:hover {
  color: #000;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.025);
}

.nav-profile-container {
  width: 75px;
}

.nav-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex: 0 0 40px;
}

.fa-chevron-down {
  font-size: 0.75rem;
  padding: 0;
  margin-left: 5px;
}

.dropdown-toggle::after {
  display: none !important;
}

.logout-link {
  color: #ff0000;
}

.navbar-brand {
  font-family: 'Coda', sans-serif;
  font-size: 1.5rem;
  color: #ff7f50 !important;
}

.dropdown-item {
  font-weight: 300;
}

/* ----- END NAVBAR ---- */

/* ----- CONTENT CONTAINER ----- */
.content-container {
  margin-top: 150px;
}

.landing-image {
  background-image: url('../images/homepage.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.form-signup {
  margin: auto 0;
}

/* ----- FOOTER ----- */
.footer {
  height: 100%;
  padding: 20px;
  background-color: rgb(209, 209, 209);
  width: 100%;
}

.navbar-brand-footer,
.copyright {
  padding-bottom: 0;
}

.copyright {
  font-size: 0.75rem;
}

.footer-nav {
  padding: 0;
}

.footer-nav .nav-item {
  list-style: none;
}

.footer-nav .nav-item .nav-link {
  color: #000;
  padding: 0;
}

.footer-social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-social-container a {
  display: block;
}

.social-icon-footer {
  font-size: 1rem !important;
  color: #ff7f50;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px !important;
  transition: 0.3s linear;
}

.social-icon-footer:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #ff7f50;
  color: #fff;
}

.footer-h4 {
  width: 100%;
  color: #ff7f50;
  margin: 20px 0;
  text-transform: uppercase;
}

nav .footer-h4 {
  margin-bottom: 10px;
}

/* ----- END FOOTER ----- */

.row-login-form,
.row-signup-form {
  height: 100%;
}

.profile-box,
.workout-box,
.count-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
}

.count-box {
  margin-top: 20px;
}

.count {
  font-size: 5rem;
  font-family: 'Coda', sans-serif;
  color: #ff7f50;
}

.sidebar-h3 {
  font-size: 1.25rem;
  width: 100%;
}

.sidebar-add-workout-btn {
  margin: 0 auto;
  display: block;
}

.profile-title {
  border-bottom: 1px #d1d1d1 solid;
}

.profile-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-activity {
  font-size: 0.85rem;
  font-weight: 100;
}

.latest-activity-title {
  font-weight: 800;
}

/* WORKOUT BOX */
.workout-date {
  color: gray;
  font-size: 0.75rem;
}

.workout-title,
.profile-title {
  font-size: 2rem;
  font-weight: bold;
}

.workout-description {
  font-size: 0.85rem;
}
.workout-image {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.add-workout-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 25px;
  border: 1px solid #ff7f50;
  color: #ff7f50;
  font-size: 1.5rem;
  transition: all 0.2s linear;
  font-weight: 300;
}

.add-workout-btn:hover {
  background-color: #ff7f50;
  color: #fff;
  transform: scale(1.1);
  font-weight: 300;
}

.workout-stat-title {
  font-size: 0.85rem;
  color: #000;
  font-weight: 100;
}

.workout-stats {
  margin: 0 auto;
}

#workout-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* ADD WORKOUT FORM */

.edit-profile-form-container,
.dashboard-container {
  min-height: calc(100vh - 340px) !important;
}

/* ABOUT PAGE */
.hero-container {
  min-height: 60vh;
  margin-top: -150px;
}

.hero-img {
  background-image: url('../images/hero-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-tagline {
  font-size: 4em;
  font-weight: 800;
  color: #fff;
}

.about-us {
  background-color: #fff;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
}

.about-city-img {
  background-image: url(../images/about-us-city.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
}

.card {
  border: none;
  border-radius: 0px;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
}

.card-img-top {
  border-radius: 0;
}

.cta-block {
  min-height: 300px;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
}

.join-header {
  color: #fff;
}

.sign-up-section {
  background-color: #ff7f50;
}

.login-section {
  background-color: #fff;
}

.cta-link {
  padding: 10px 20px;
  display: block;
  border: 2px solid #000;
  border-radius: 25px;
  margin: 10px auto;
  min-width: 75px;
}

.cta-signup {
  color: white;
  border: 2px solid #fff;
  transition: 0.2s linear;
}

.cta-signup:hover {
  background-color: #fff;
  color: #ff7f50;
}

.cta-login {
  transition: 0.2s linear;
}

.cta-login:hover {
  background-color: #000;
  color: #fff;
}

.confirm-delete-btn {
  color: #ff0000;
  font-weight: 300;
}

.confirm-delete-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .about-city-img {
    min-height: 250px;
  }

  .about-tagline {
    font-size: 2rem;
  }

  .row-signup-form {
    height: 100%;
    margin-bottom: 20px;
  }
}
