body {
  background-color: #f7f7fa;
}

/* ICONS */
.edit,
.delete {
  font-size: 1.25rem;
}

.edit {
  color: rgb(106, 106, 252);
}

.delete {
  color: rgb(206, 69, 69);
}

.edit:hover,
.delete:hover {
  color: #000;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.025);
}

.nav-profile-container {
  width: 75px;
}

.nav-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex: 0 0 40px;
}

.fa-chevron-down {
  font-size: 0.75rem;
  padding: 0;
  margin-left: 5px;
}

.dropdown-toggle::after {
  display: none !important;
}

.logout-link {
  color: red;
}

.navbar-brand {
  font-family: 'Coda', sans-serif;
  font-size: 1.5rem;
  color: coral !important;
}

/* CONTENT CONTAINER */
.content-container {
  margin-top: 150px;
}

.landing-image {
  background-image: url('../images/homepage.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.form-login,
.form-signup {
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(243, 243, 243);
}

.form-signup {
  margin: auto 0;
}

.footer {
  height: 100%;
  padding: 20px;
  background-color: rgb(243, 243, 243);
  width: 100%;
}

.navbar-brand-footer,
.copyright {
  text-align: center;
  padding-bottom: 0;
}

.copyright {
  font-size: 0.75rem;
}

.footer-nav {
  padding: 0;
}

.footer-nav .nav-item {
  list-style: none;
  text-align: center;
}

.footer-nav .nav-item .nav-link {
  color: #000;
  padding: 0;
}

.footer-social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-social-container a {
  display: block;
}

.social-icon-footer {
  font-size: 1rem !important;
  background-color: rgb(255, 201, 181);
  color: coral;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px !important;
  text-align: center;
}

.footer-h4 {
  width: 100%;
  color: coral;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}

nav .footer-h4 {
  margin-bottom: 10px;
}

.row-login-form,
.row-signup-form {
  height: 80vh;
}

.header-center-align {
  text-align: center;
}

.profile-box,
.workout-box,
.count-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
}

.count-box {
  margin-top: 20px;
}

.count {
  font-size: 5rem;
  font-family: 'Coda', sans-serif;
  text-align: center;
  color: coral;
}

.sidebar-h3 {
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
}

.sidebar-add-wrokout-btn {
  margin: 0 auto;
  display: block;
}

.profile-title {
  text-align: center;
  border-bottom: 1px #d1d1d1 solid;
}

.profile-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-activity {
  font-size: 0.85rem;
  font-weight: 100;
}

.latest-activity-title {
  font-weight: 800;
}

/* WORKOUT BOX */
.workout-date {
  color: gray;
  font-size: 0.75rem;
}

.workout-title,
.profile-title {
  font-size: 2rem;
  font-weight: bold;
}

.workout-description {
  font-size: 0.85rem;
}
.workout-image {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.add-workout-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid coral;
  color: coral;
  font-size: 1.5rem;
  transition: all 0.2s linear;
}
.add-workout-btn:hover {
  background-color: coral;
  color: #fff;
  transform: scale(1.1);
}

.workout-stat-title {
  font-size: 0.85rem;
  color: #000;
  font-weight: 100;
}

.workout-stats {
  margin: 0 auto;
}

#workout-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* ADD WORKOUT FORM */
.add-workout-form {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
  margin: 0 auto;
}

.form-group {
  padding: 0;
}

.edit-profile-form-container,
.dashboard-container {
  min-height: calc(100vh - 340px) !important;
}
