{% extends 'base.html' %} {% block content%}
<div class="row">
  {{user_id}}
  <div class="col-10">
    <form action="{{ url_for('insert_workout') }}" method="POST">
      <div class="form-group">
        <label for="workout-type">Workout Type:</label>
        <input
          type="text"
          class="form-control"
          id="workout-type"
          aria-describedby="workout-type"
          name="workout-type"
        />
      </div>
      <div class="form-group">
        <label for="workout-notes">Notes:</label>
        <textarea
          name="workout-notes"
          class="form-control"
          id="workout-notes"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="workout-date" for="workout-date">Workout Date:</label>
        <input
          type="date"
          class="workout-date form-control"
          id="workout-date"
          name="workout-date"
        />
        <input
          type="text"
          class="user_id"
          name="user_id"
          id="user_id"
          value="{{user_id}}"
          hidden
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock%}
