<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <title>Fitness Tracker</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="logo">Fitness Tracker</a>
          <ul id="nav" class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Add Workout</a></li>
            <li>
              <a href="#">Manage Categories</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container-lg">
      {% block content %} {% endblock %}
    </div>
    <footer class="footer">
      <h3>This is a footer</h3>
    </footer>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
