{% extends 'base.html' %} {% block content%}
<div class="row">
  <div class="d-none d-md-block col profile-box m-3 h-100">
    <div
      class="profile-image"
      style="background-image: url({{url_for('file', filename=user['profile_image'])}});"
    ></div>
    <div class="profile-info mt-5 row">
      <h1 class="profile-title col-12 pb-3 no-gutters">
        {{user.first_name}} {{user.last_name}}
      </h1>
      <p class="col-12 pb-0 mt-2 mb-0 latest-activity latest-activity">
        Latest Activity:
      </p>
      {% for x in recent %}
      <p class="col-12 latest-activity latest-activity-title mb-0 pb-0">
        {{x.workout_title}}
      </p>
      <p class="col-12 latest-activity latest-activity-date mb-0 pb-0">
        {{x.workout_date}}
      </p>
      {% endfor %}
    </div>
  </div>

  <div class="col-10 offset-1 col-md-6 m-3">
    <div class="row">
      {% for w in workouts %}
      <div class="col-12 workout-box mb-3">
        <div class="row">
          <div class="col-12">
            <div class="row align-items-center">
              <h1 class="col-10 workout-title">{{w.workout_title}}</h1>
              <a
                href="{{url_for('edit_workout', workout_id=w._id)}}"
                class="col-1 edit"
                ><i class="far fa-edit"></i
              ></a>
              <a
                href="{{url_for('delete_workout', workout_id=w._id)}}"
                class="col-1 delete"
                ><i class="far fa-trash-alt"></i
              ></a>
            </div>
          </div>
          <p class="col-12 workout-date">{{w.workout_date}}</p>
          <p class="col-12 workout-description">{{w.workout_notes}}</p>
          <ul class="workout-stats list-group list-group-horizontal mb-2">
            <li class="stat list-group-item">
              <div class="workout-stat-title">Sport</div>
              <div class="workout-sport">{{w.workout_type}}</div>
            </li>
            {% if w.workout_distance != "" %}
            <li class="stat list-group-item">
              <div class="workout-stat-title">Distance</div>
              <div class="workout-distance">
                {{w.workout_distance}} {{w.workout_distance_metric}}
              </div>
            </li>
            {% endif %}
            <li class="stat list-group-item">
              <div class="workout-stat-title">Duration</div>
              <div class="workout-duration">{{w.workout_duration}}</div>
            </li>
          </ul>
        </div>
        <div class="row justify-content-center">
          <div
            class="col-8 workout-image m-2"
            style="background-image: url({{url_for('file', filename=w['workout_image'])}});"
          ></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="d-none d-md-block col profile-box m-3 h-100">
    <div></div>
    <p>Add a new workout</p>
    <a
      href="{{url_for('addworkout', user_id=user._id)}}"
      class="add-workout-btn btn"
      >&plus;</a
    >
  </div>
</div>
{% endblock%}
