{% extends 'base.html' %} {% block dash_link %}
<a class="nav-link" href="{{url_for('dashboard', user_id=user._id)}}"
  >Dashboard <span class="sr-only">(current)</span></a
>
{%endblock%}{% block full_nav %}
<li class="nav-link dropdown">
  <a
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    href="#"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
    ><div class="row nav-profile-container align-items-center">
      <div
        class="nav-image"
        style="background-image: url({{url_for('file', filename=user['profile_image'])}});"
      ></div>
      <i class="fas fa-chevron-down col"></i></div
  ></a>
  <div class="dropdown-menu">
    <a
      class="dropdown-item"
      href="{{ url_for('edit_profile', user_id=user._id)}}"
      >Edit Profile</a
    >
    <div class="dropdown-divider"></div>
    <a class="dropdown-item logout-link" href="{{ url_for('logout' )}}"
      >Log Out</a
    >
  </div>
</li>
<li class="nav-item align-self-center">
  <a
    href="{{url_for('addworkout', user_id=user._id)}}"
    class="add-workout-btn btn"
    >&plus;</a
  >
</li>
{% endblock %} {% block mobile_nav %}
<li class="nav-link dropdown" id="mobile-nav-dropdown">
  <a
    id="mobile-nav-dropdown"
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    href="#"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
    >{{user.first_name}} {{user.last_name}}
    <i class="fas fa-chevron-down col"></i
  ></a>
  <div class="dropdown-menu">
    <a
      class="dropdown-item"
      href="{{ url_for('edit_profile', user_id=user._id)}}"
      >Edit Profile</a
    >
    <div class="dropdown-divider"></div>
    <a class="dropdown-item logout-link" href="{{ url_for('logout' )}}"
      >Log Out</a
    >
  </div>
</li>
<li class="nav-item align-self-center">
  <a
    href="{{url_for('addworkout', user_id=user._id)}}"
    class="add-workout-btn-mobile nav-link"
    >Add Workout</a
  >
</li>
{% endblock %}{% block content%}
<!-- Profile block (only visible on md screens) -->
<div class="row dashboard-container">
  <div
    class="d-none d-md-block col profile-box m-3 h-100"
    style="top: 0; left: 0;"
  >
    <div
      class="profile-image"
      style="background-image: url({{url_for('file', filename=user['profile_image'])}});"
    ></div>
    <div class="profile-info mt-5 row">
      <h1 class="profile-title col-12 pb-3 no-gutters text-center">
        {{user.first_name}} {{user.last_name}}
      </h1>
      <p class="col-12 pb-0 mt-2 mb-0 latest-activity latest-activity">
        Latest Activity:
      </p>
      {% for x in recent %}
      <p class="col-12 latest-activity latest-activity-title mb-0 pb-0">
        {{x.workout_title}}
      </p>
      <p class="col-12 latest-activity latest-activity-date mb-0 pb-0">
        {{x.workout_date}}
      </p>
      {% endfor %}
    </div>
  </div>

  <div class="col-10 col-md-6 m-3" id="workout-container">
    <div class="row">
      {% if workouts == None %}
      <div class="col-12 workout-box mb-3 justify-items-center">
        <h2 class="text-center display-5">Add your first workout!</h2>
        <a
          href="{{url_for('addworkout', user_id=user._id)}}"
          class="btn btn-main btn-add-first-workout"
          >Add workout</a
        >
      </div>
      {% else %} {% for w in workouts %}
      <div class="col-12 workout-box mb-3">
        <div class="row">
          <div class="col-12">
            <div class="row align-items-center">
              <h1 class="col-12 col-md-10 workout-title">
                {{w.workout_title}}
              </h1>
              <a
                href="{{url_for('edit_workout', workout_id=w._id)}}"
                class="col-1 edit"
                ><i class="far fa-edit"></i
              ></a>
              <div
                class="col-1 delete"
                data-toggle="modal"
                data-target="#confirmDeleteWorkoutModal-{{w._id}}"
              >
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
          <p class="col-12 workout-date">{{w.workout_date}}</p>
          <p class="col-12 workout-description">{{w.workout_notes}}</p>
          <ul class="workout-stats list-group list-group-horizontal mb-2">
            <li class="stat list-group-item">
              <div class="workout-stat-title">Sport</div>
              <div class="workout-sport">{{w.workout_type}}</div>
            </li>
            {% if w.workout_distance != "" %}
            <li class="stat list-group-item">
              <div class="workout-stat-title">Distance</div>
              <div class="workout-distance">
                {{w.workout_distance}} {{w.workout_distance_metric}}
              </div>
            </li>
            {% endif %}
            <li class="stat list-group-item">
              <div class="workout-stat-title">Duration</div>
              <div class="workout-duration">{{w.workout_duration}}</div>
            </li>
          </ul>
        </div>
        <div class="row justify-content-center">
          {% if w.workout_image == 'no_img' %}
          <div
            class="col-12 col-md-8 workout-image m-2"
            style="
              background-image: url({{url_for('static', filename='images/no_workout_img.svg')}});"
          ></div>
          {% else %}
          <div
            class="col-12 col-md-8 workout-image m-2"
            style="background-image: url({{url_for('file', filename=w['workout_image'])}});"
          ></div>
          {% endif %}
        </div>
        <!-- Confirm Delete Modal -->
        <div
          class="modal fade"
          id="confirmDeleteWorkoutModal-{{w._id}}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="DeleteModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel">
                  Are you sure you want to delete this workout?
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                All information will be permanently deleted.
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <a
                  href="{{url_for('delete_workout', workout_id=w._id)}}"
                  class="btn btn-danger"
                  >Delete workout</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %} {% endif %}
    </div>
  </div>

  <!-- Add workout block (only visible on md screens) -->
  <aside class="d-none d-md-block m-3 h-100 col">
    <div class="row profile-box">
      <div class="col-12">
        <h3 class="sidebar-h3 text-center">Add Workout</h3>
        <a
          href="{{url_for('addworkout', user_id=user._id)}}"
          class="add-workout-btn sidebar-add-workout-btn btn text-center"
          >&plus;</a
        >
      </div>
    </div>
    <div class="row count-box">
      <div class="col-12">
        <h3 class="sidebar-h3 text-center">Total Workouts Completed</h3>
        <p class="count text-center">{{count}}</p>
      </div>
    </div>
  </aside>
</div>

{% endblock%}
